<%if (!cookieComprobada) { %>
    <footer class="footer" id="footer">
        <h1>Estos son las cookies</h1>
        <h3>O las aceptas o pa google majo</h3>
        <button id="aceptando">aceptar</button>
        <button onclick="window.location.href='http://google.es'">denegar</button>
    </footer>
    <%}%>
</html>