<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/aceptar.js" defer></script> <!--Defer para que se cargue al final, tenemos el fetch de aceptar-->
  </head>