<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/aceptar.js" defer></script> <!--Defer para que se cargue al final, tenemos el fetch de aceptar-->
    <script src="/javascripts/chat.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    
  </head>
    <body>
        <h1>PAGINA RESTRINGIDA</h1>
        <a href="/logout">cerrar Sesión</a>
        <div id="chat"></div>
        <form id="formularioChat">
            <label>Mensaje a enviar <input type="text" name="mensaje" id="mensaje"></label>
            <button onclick="enviarMensaje('<%= username %>')">enviar</button>
          </form> 
    </body>
    <%- include("footer", {}) %>