<%- include("header", {}) %>
<h1><%= title %></h1>
<p>Welcome to restricted </p>
<div class="container">
  <div class="card">
    <h3>Título</h3>
    <p> D3 CORONA.</p>
  </div>
  <div class="card">
    <h3>Título2</h3>
    <p>RENDYN.</p>
  </div>
  <div class="card">
    <h3>Título4</h3>
    <p>WJNCIJFNOEFDNOEINOEIFDNEOFDNKEN2DO2ENDOI3EDNO32DNODC DKDN QKJC WOKNSO2   MWLK SKMC DWEPO DCÑKNJQ O .</p>
  </div>
</div>