<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/"> home</a> </li>
            <% if (user) {%>
            <li><a href="/restricted"> Restringido </a></li>

            <li> <a href="/logout"> Logout</a></li>
            <% } else { %>
            <li><a href="/login"> Login </a></li>
            <% } %>
        </ul>
    </nav>



