
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.footer{
  text-align: center;
  position: fixed;
  background-color: bisque;
  width: 100%;
  bottom: 0px;
  border: #1111 solid 2px;
  left: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.escondidin{
  display: none;
}