<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
</head>
<body>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/script.js" defer></script>
    
<nav>
    <ul>
   <li> <a href="/"> HOME</a></li>
    <%if (user) {%>
        <li> <a href="/restricted">RESTRICTED</a></li>
        <li> <a href="/logout">logout</a></li>
    <% } else { %>
        <li> <a href="/login">LOGIN</a></li>
    <% } %>
    </ul>
    

</nav>

