<%- include("header", {}) %>

<form method="POST" action="/login">
   <label > Usuario <input type="text" name="username"></label> <br>
   <label > Contraseña <input type="password" name="pass"></label> <br>
   <input type="submit" value="Login">
</form>

<%- include("footer", {}) %>